In [ ]:
#objective: Predict seminal quality of an individual

In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [3]:
#load data
df = pd.read_csv('../datasets/fertility_Diagnosis.txt', sep=",", header=None)
df.columns = ['Season','Age','Child_disease','accident','surgical_int','high_fever',
              'frequency_alochol','smoking_habit','num_hours','output']

In [4]:
df.head()

,Season,Age,Child_disease,accident,surgical_int,high_fever,frequency_alochol,smoking_habit,num_hours,output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [5]:
df.shape

(100, 10)

In [6]:
df.describe()

,Season,Age,Child_disease,accident,surgical_int,high_fever,frequency_alochol,smoking_habit,num_hours
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,-0.078900,0.669000,0.870000,0.440000,0.510000,0.190000,0.832000,-0.350000,0.406800
std,0.796725,0.121319,0.337998,0.498888,0.502418,0.580752,0.167501,0.808728,0.186395
min,-1.000000,0.500000,0.000000,0.000000,0.000000,-1.000000,0.200000,-1.000000,0.060000
25%,-1.000000,0.560000,1.000000,0.000000,0.000000,0.000000,0.800000,-1.000000,0.250000
50%,-0.330000,0.670000,1.000000,0.000000,1.000000,0.000000,0.800000,-1.000000,0.380000
75%,1.000000,0.750000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
#recode class
cleanup_nums = {"output":{"O":1, "N":1}}
#unacc: unacceptible, acc: acceptible, good: good,   v-good: very good
df.replace(cleanup_nums, inplace=True)

In [ ]:
#normalize data using standard scalar