In [ ]:
Data fields: 

User registration date
Email sent date
Email opened date
Unique user code

For each 'Email open date' we need to know:

1. How many users opened where 'user registration date' is before the 'email open date'
2. How many users opened where 'user registration date' equals the 'email open date'

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_0821 = pd.ExcelFile('0821.xlsx')

In [3]:
df_0802 = pd.ExcelFile('0802.xlsx')

In [7]:
df_0821.sheet_names

['Sheet1']

In [9]:
df_0821 = df_0821.parse('Sheet1')

In [10]:
df_0821.shape

(12097, 4)

In [11]:
df_0821.head()

   Sent Date  Open Date  User Code Registration Date
0 2019-08-24 2019-08-24     449014        2019-08-24
1 2019-08-27 2019-08-27     658166        2019-08-27
2 2019-08-23 2019-08-23     110154        2019-08-23
3 2019-08-22 2019-08-22       9474        2019-08-22
4 2019-08-23 2019-08-23      64307        2019-08-23

In [12]:
df_0802.sheet_names

['Sheet1']

In [13]:
df_0802 = df_0802.parse('Sheet1')

In [14]:
df_0802.shape

(10619, 4)

In [16]:
df_0802.head()

   Sent Date  Open Date  User Code Registration Date
0 2019-08-07 2019-08-07     355602        2019-08-07
1 2019-08-07 2019-08-07      35684        2019-08-07
2 2019-08-16 2019-08-16      16943        2019-08-16
3 2019-08-06 2019-08-06       7794        2019-08-06
4 2019-08-05 2019-08-05     378692        2019-08-05

In [17]:
df_0802.dtypes

Sent Date            datetime64[ns]
Open Date            datetime64[ns]
User Code                     int64
Registration Date    datetime64[ns]
dtype: object

In [20]:
df_0802['check_date'] = df_0802.apply(lambda row: row['Registration Date'] - row['Open Date'], axis=1)

In [22]:
df_0802.check_date.unique()

array([                0,             'NaT',   -86400000000000,
        -259200000000000, -3801600000000000, -3888000000000000,
         259200000000000, -2246400000000000,  -345600000000000],
      dtype='timedelta64[ns]')