# objective

Design model to predict seed yield

In [1]:
#load libraries
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder  
from sklearn.preprocessing import StandardScaler  
from scipy import sparse
from catboost import CatBoostRegressor
import lightgbm as lgb

/Users/edima/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
#load data
train = pd.read_csv('CC2020_train_final.csv')
test = pd.read_csv('CC2020_test_final.csv')

# Data Exploration

In [3]:
#check train
train.head()

,YEAR,LOCATION,INBRED,INBRED_CLUSTER,TESTER,TESTER_CLUSTER,YIELD
0,18,Loc 5608,Inbred_142,Cluster11,Tester_740,Cluster10,1.135462
1,18,Loc 4533,Inbred_142,Cluster11,Tester_740,Cluster10,1.139813
2,18,Loc 5620,Inbred_142,Cluster11,Tester_740,Cluster10,1.117778
3,18,Loc 4732,Inbred_142,Cluster11,Tester_740,Cluster10,1.171366
4,18,Loc 5500,Inbred_142,Cluster11,Tester_740,Cluster10,1.059364

In [4]:
#check test
test.head()

        INBRED INBRED_CLUSTER       TESTER TESTER_CLUSTER  YIELD
0  Inbred_1071       Cluster8  Tester_5450       Cluster5    NaN
1   Inbred_122      Cluster12  Tester_4336       Cluster6    NaN
2  Inbred_1337      Cluster17  Tester_2652       Cluster1    NaN
3  Inbred_1337      Cluster17  Tester_4373       Cluster3    NaN
4  Inbred_1339      Cluster17  Tester_4238      Cluster11    NaN

In [5]:
#get train summary
train.describe()

                YEAR          YIELD
count  199476.000000  199476.000000
mean       17.160551       1.001731
std         0.741779       0.104722
min        16.000000       0.047236
25%        17.000000       0.941870
50%        17.000000       1.003277
75%        18.000000       1.064073
max        18.000000       1.800083

In [6]:
#get test summary
test.describe()

       YIELD
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [8]:
#shapes
print("train shape")
print(train.shape)
print("test shape")
print(test.shape)

train shape
(199476, 7)
test shape
(1200, 5)

# Data visualization