# Assignment 4

## Churn Prediction Analysis

In this assignment, we are going to predict customer churn for a telecom company using the K-Nearest Neighbor algorithm.

# Setup

Import python libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

%matplotlib inline

# Exercise 1

Load the csv file called 'Churn.csv' using pandas and assign it to a variable called df. (hint: pd.read_csv?) Look at the first 10 rows of the data set. (hint: df.head?)

In [7]:
df = pd.read_csv("Churn.csv")
df.head(10)

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,0.0,1.0,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1.0,False
1,0.0,1.0,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,NaN,NaN,3.0,3.70,1.0,False
2,0.0,0.0,0.0,243.4,114.0,41.38,121.2,NaN,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0.0,False
3,1.0,0.0,0.0,299.4,NaN,50.90,61.9,88.0,5.26,NaN,89.0,8.86,6.6,7.0,1.78,2.0,False
4,1.0,0.0,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3.0,False
5,1.0,0.0,0.0,NaN,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6.0,1.70,0.0,False
6,0.0,NaN,24.0,218.2,88.0,NaN,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7.0,2.03,3.0,False
7,1.0,0.0,0.0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6.0,1.92,0.0,False
8,0.0,0.0,0.0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4.0,2.35,1.0,False
9,1.0,1.0,37.0,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5.0,NaN,NaN,False

# Exercise 2: 

Which column indicates whether the user has churned? How many users are there in your dataset? (hint: len?)

In [12]:
columnNames = list(df.head(0))
#churn column
print(columnNames[-1])
#get number of users
print(len(df))
#could also use shape to get number of users
print(df.shape)

churned
5000
(5000, 17)

# Exercise 3:

Use df.describe() to explore each column. Why is the count different for each column and not equal to 5000?

In [13]:
df.describe()
#the count is different because there could be some missing data

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4815.000000,4597.000000,4839.000000,4630.000000,4621.000000,4663.000000,4894.000000,4565.000000,4624.000000,4537.000000,4822.000000,4904.000000,4691.000000,4680.000000,4697.000000,4593.000000
mean,0.095119,0.263215,7.753255,180.353024,100.102575,30.709348,200.652166,100.356407,17.047641,200.144523,99.960390,9.015475,10.261224,4.432265,2.766934,1.568909
std,0.293410,0.440426,13.525422,53.902352,19.819299,9.164254,50.513622,19.850245,4.284928,50.936037,19.998369,2.275332,2.760720,2.458918,0.745717,1.303008
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,166.425000,87.000000,14.157500,166.700000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,0.000000,0.000000,0.000000,180.100000,100.000000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,0.000000,1.000000,17.000000,216.275000,113.000000,36.860000,233.900000,114.000000,19.860000,234.600000,113.000000,10.540000,12.000000,6.000000,3.240000,2.000000
max,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# Exercise 4: 

Fill the missing numbers with the median of the whole dataset! (hint: df.fillna?) Check to see if the counts for all columns is now 5000.

In [20]:
df = df.fillna(df.median())

# Exercise 5:

Separate the data into the features and labels. Assign the features to variable X and labels to variable y.

In [21]:
y = df['churned']
X = df[[col for col in df.columns if col!="churned"]]

# Exercise 6: 

Split the data into 70% training set and 30% test set and assign them to variables named X_train, X_test, y_train, y_test (hint: train_test_split?)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.30, random_state=42)
print("Size of train dataset: {} rows".format(X_train.shape[0]))
print("Size of test dataset: {} rows".format(X_test.shape[0]))

Size of train dataset: 3500 rows
Size of test dataset: 1500 rows

# Exercise 7: 

Create a N-Nearest Neighbors classifier of 5 neighbors. (hint: KNeighborsClassifier?)

# Exercise 8:

Fit the model to the training set. (hint: knn.fit?)

# Exercise 9:

Use the model to make a prediction on the test set. Assign the prediction to a variable named y_pred

# Exercise 10:

Determine how accurate your model is at making predictions. (hint: accuracy_score?)

# Exercise 11 (Optional)

Try different number of k neighbors between 1 and 10 and see if you find a better result