In [ ]:
#objective is to predict student's knowledge level

In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
#load data
df_train = pd.read_excel('../datasets/Data_User_Modeling_Dataset_Hamdi Tolga KAHRAMAN.xls',
                         sheet_name = 'Training_Data')

In [9]:
#load data
df_test = pd.read_excel('../datasets/Data_User_Modeling_Dataset_Hamdi Tolga KAHRAMAN.xls',
                         sheet_name = 'Test_Data')

In [11]:
#check data
df_train.head()

df_test.head()

    STG   SCG   STR   LPR   PEG       UNS
0  0.00  0.10  0.50  0.26  0.05  Very Low
1  0.05  0.05  0.55  0.60  0.14       Low
2  0.08  0.18  0.63  0.60  0.85      High
3  0.20  0.20  0.68  0.67  0.85      High
4  0.22  0.22  0.90  0.30  0.90      High

In [12]:
#check shape
print(df_train.shape, df_test.shape)

(258, 6) (145, 6)

In [18]:
#recode UNS
cleanup_nums = {"UNS":{"very_low":1, "Low":2, "Middle":3, "High":4}}
df_train.replace(cleanup_nums, inplace=True)
df_test.replace(cleanup_nums, inplace=True)