In [ ]:
1- Pre-processing of the data, if necessary ( Normalisation, Rebalancing) Note: data has no missing values
2-Data Visualisation (correlation evidence from visual analysis of attributes) 
3- Feature selection/extraction (PCA, LDA). Show at least two and plot the features in 2D/3D space. 
4- Classification (Use three classification algorithms and describe them in brief. Perform parameter tuning. Reasons for selecting the algorithms). 
• Performance Metrics used for Data Analysis and Knowledge Discovery. 
• What new knowledge you were able to discover from the data? How you can develop the results further? (Hint: Fuzzy Rules, Rule Extraction)



I have a dataset in .txt form (GSE135845_series_matrix.txt) .It has 12 samples .
I have converted this original txt file to CSV file "965.csv".
I have divided these samples in 2 classes  i.e With madicine and Without Medicine and added a new column called "classes" and used 0 for "No medicine" class and 1 for "Medicine class".Also I have transposed the data
This file is "NNew.csv"

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier

In [11]:
#load data
df = pd.read_csv('NNew.csv', sep=",")

In [3]:
df.shape

(12, 28871)

In [4]:
df.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,28860,28861,28862,28863,28864,28865,28866,28867,28868,classes
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,5.500000,144.911258,27.627975,31.785642,731.149142,102.262833,1234.133142,177.216633,35.773400,2376.392975,...,961.665292,208.340483,1849.774017,127.051825,1011.955100,1127.796450,503.430167,6436.551667,271.821217,0.750000
std,3.605551,22.175923,0.659897,1.213120,109.922630,16.563424,188.688437,56.766948,5.923796,401.854355,...,171.887109,15.348026,261.988399,11.990549,63.849382,77.766871,41.132308,540.789466,29.920924,0.452267
min,0.000000,102.133000,26.611000,30.009600,449.039000,74.626600,901.382700,119.320100,28.528000,1766.776100,...,724.887900,186.907200,1404.147200,109.792600,921.393400,1012.214000,433.786800,5680.019000,229.449400,0.000000
25%,2.750000,135.804275,27.178950,31.167775,693.538825,89.678100,1091.567450,134.446175,31.382075,2082.396475,...,837.309050,198.059725,1757.008050,119.673575,976.987300,1061.086875,469.000325,6063.161825,249.485275,0.750000
50%,5.500000,144.084650,27.594650,31.636300,734.812200,110.159650,1267.638300,155.160150,33.893150,2391.800650,...,941.945950,204.374700,1863.841350,124.092700,1010.725150,1147.882450,508.535100,6415.556850,268.132700,1.000000
75%,8.250000,157.347825,28.170275,32.102825,802.057375,114.425425,1364.509850,214.884575,39.205600,2629.775125,...,1015.057850,216.608600,1978.375700,131.894250,1049.293000,1184.771000,543.288550,6873.983525,293.756700,1.000000
max,11.000000,178.973600,28.676200,34.168200,868.513900,121.117500,1479.410300,302.794900,46.622000,3236.776000,...,1328.335300,236.603100,2342.477300,153.308700,1133.889600,1228.563000,555.721600,7200.712400,337.486300,1.000000

In [12]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,28860,28861,28862,28863,28864,28865,28866,28867,28868,classes
0,0,178.9736,28.6762,31.7815,675.6172,92.4305,1351.3121,135.6727,34.2066,2287.0100,...,1328.3353,222.3161,2342.4773,125.3880,928.8357,1183.5049,555.7216,6590.9146,263.9260,0
1,1,135.9153,26.8458,31.2116,699.5127,108.4411,1063.4213,157.7874,31.1987,2003.9050,...,942.4601,186.9072,1994.8049,130.9669,992.0124,1047.5358,463.6007,6258.7314,242.1986,1
2,2,116.7858,28.1078,31.6127,830.8206,111.8782,901.3827,148.0238,33.5797,1984.0208,...,790.1002,214.7061,1825.9707,120.9621,1047.0116,1175.9851,433.7868,6572.3823,247.2808,1
3,3,102.1330,27.6851,33.0668,825.4612,113.8566,1264.8517,212.0051,35.0494,2556.0955,...,724.8879,198.1736,1404.1472,109.7926,1133.8896,1023.9245,523.5878,5778.8857,293.1355,1
4,4,141.7910,28.4614,31.6599,710.0635,99.2342,994.2628,152.5329,31.0850,2169.0264,...,1167.7706,200.0804,1972.8993,122.7974,1014.4892,1223.3410,547.3867,7200.7124,250.2201,0

In [17]:
nan_rows = df.isnull().T.any().T.sum()
#drop missing data
df = df.dropna()

In [18]:
from sklearn.decomposition import PCA
#using PCA
array = df.values
X = array[:,0:28867]
Y = array[:,28867]
# feature extraction
pca = PCA(n_components=5)
fit = pca.fit(X)
# summarize components
print("Explained Variance: %s") % fit.explained_variance_ratio_
print(fit.components_)

Explained Variance: %s

TypeError: unsupported operand type(s) for %: 'NoneType' and 'float'

In [20]:
features=df.iloc[:,0:28867] #Make sure to remove Opioid.Prescriber (our target)!
target = df['classes']
Name=[]
Accuracy=[]
model1=LogisticRegression(random_state=22,C=0.000000001,solver='liblinear',max_iter=200)
model2=GaussianNB()
model3=RandomForestClassifier(n_estimators=200,random_state=22)
model4=GradientBoostingClassifier(n_estimators=200)
model5=KNeighborsClassifier()
model6=DecisionTreeClassifier()
model7=LinearDiscriminantAnalysis()
model8=BaggingClassifier()
Ensembled_model=VotingClassifier(estimators=[('lr', model1), ('gn', model2), ('rf', model3),('gb',model4),('kn',model5),('dt',model6),('lda',model7), ('bc',model8)], voting='hard')
for model, label in zip([model1, model2, model3, model4,model5,model6,model7,model8,Ensembled_model], ['Logistic Regression','Naive Bayes','Random Forest', 'Gradient Boosting','KNN','Decision Tree','LDA', 'Bagging Classifier', 'Ensemble']):
    scores = cross_val_score(model, features, target, cv=5, scoring='accuracy')
    Accuracy.append(scores.mean())
    Name.append(model.__class__.__name__)
    print("Accuracy: %f of model %s" % (scores.mean(),label))

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Accuracy: 0.800000 of model Logistic Regression
Accuracy: 0.800000 of model Naive Bayes

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Accuracy: 0.800000 of model Random Forest

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Accuracy: 0.866667 of model Gradient Boosting
Accuracy: 0.800000 of model KNN

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Accuracy: 0.600000 of model Decision Tree

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Accuracy: 0.800000 of model LDA
Accuracy: 0.866667 of model Bagging Classifier

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/anaconda3/lib/python3.7/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

Accuracy: 0.800000 of model Ensemble