***objective***

Recently, there has been an increase in the number of building collapse in Lagos and major cities in Nigeria. Olusola Insurance Company offers a building insurance policy that protects buildings against damages that could be caused by a fire or vandalism, by a flood or storm.
You have been appointed as the Lead Data Analyst to build a predictive model to determine if a building will have an  insurance claim during a certain period or not. 
You will have to predict the probability of having at least one claim over the insured period of the building.

In [53]:
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder  
from sklearn.preprocessing import StandardScaler  
from scipy import sparse
from catboost import CatBoostClassifier, Pool
import lightgbm as lgb
import xgboost as xgb
from math import sqrt
from sklearn.metrics import mean_squared_error
from scipy.stats import uniform, randint
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import TimeSeriesSplit, cross_val_score, GridSearchCV, RandomizedSearchCV
import random

In [74]:
#load data
train = pd.read_csv("train_data.csv") #test_data
test = pd.read_csv("test_data.csv")
sample_submission = pd.read_csv("sample_submission.csv")
description_data = pd.read_csv("VariableDescription.csv")

In [3]:
train.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [4]:
test.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,H11920,2013,1.000000,0,V,N,O,R,300.0,1,1960.0,3,3310
1,H11921,2016,0.997268,0,V,N,O,R,300.0,1,1960.0,3,3310
2,H9805,2013,0.369863,0,V,V,V,U,790.0,1,1960.0,.,3310
3,H7493,2014,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321
4,H7494,2016,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321

In [5]:
sample_submission.head() 
#YearOfObservation, Residential, Building_Painted, Building_Fenced	Garden	Settlement,
#Building_Type	Date_of_Occupancy	NumberOfWindows

#'Insured_Period','Building Dimension'

  Customer Id  Claim
0          H0      1
1      H10000      1
2      H10001      1
3      H10002      1
4      H10003      1

In [7]:
description_data.head()

            Variable                                        Description
0        Customer Id        Identification number for the Policy holder
1  YearOfObservation         year of observation for the insured policy
2     Insured_Period  duration of insurance policy in Olusola Insura...
3        Residential      is the building a residential building or not
4   Building_Painted  is the building painted or not (N-Painted, V-N...

In [8]:
#check for missing data
train.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy     508
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [9]:
train.shape

(7160, 14)

In [10]:
test.shape

(3069, 13)

In [11]:
test.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  4
Settlement              0
Building Dimension     13
Building_Type           0
Date_of_Occupancy     728
NumberOfWindows         0
Geo_Code               13
dtype: int64

# build prelimnary model

In [75]:
#drop columns with missing data
#missing data Garden, building dimension, data of occupancy, geo_code
train = train[['Customer Id','YearOfObservation','Insured_Period','Residential','Building_Painted',
               'Building_Fenced','Garden','Settlement','Building Dimension','Building_Type',
               'Date_of_Occupancy','NumberOfWindows','Geo_Code','Claim']]
test = test[['Customer Id','YearOfObservation','Insured_Period','Residential','Building_Painted',
               'Building_Fenced','Garden','Settlement','Building Dimension','Building_Type',
               'Date_of_Occupancy','NumberOfWindows','Geo_Code']]

In [76]:
#remove customer id from train, data Garden, building dimension, data of occupancy, geo_code
train = train[['YearOfObservation','Insured_Period','Residential','Building_Painted',
               'Building_Fenced','Settlement','Building_Type','NumberOfWindows','Claim']] #'NumberOfWindows'

In [77]:
train['Claim'].reset_index(drop=True, inplace=True)
#df['IS_FRAUDSTER_N'].reset_index(drop=True, inplace=True)

In [78]:
test_cust_id = test['Customer Id']
test_cust_id.reset_index(drop=True, inplace=True)

In [79]:
#remove data Garden, building dimension, data of occupancy, geo_code from test
test = test[['YearOfObservation','Insured_Period','Residential','Building_Painted',
               'Building_Fenced','Settlement','Building_Type','NumberOfWindows']] #'NumberOfWindows'

In [80]:
#split into categorical

In [83]:
##factorize
train_cat = train[['YearOfObservation', 'Residential', 'Building_Painted', 'Building_Fenced',
                'Settlement','Building_Type','NumberOfWindows']] #'NumberOfWindows'
train_cat2 = pd.get_dummies(train_cat, columns=['YearOfObservation', 'Residential', 'Building_Painted', 
                                                'Building_Fenced',
                'Settlement','Building_Type','NumberOfWindows'], drop_first=False) #'NumberOfWindows'
train_cat2.reset_index(drop=True, inplace=True)

In [84]:
test_cat = test[['YearOfObservation', 'Residential', 'Building_Painted', 'Building_Fenced',
                'Settlement','Building_Type','NumberOfWindows']] #'NumberOfWindows'
test_cat2 = pd.get_dummies(test_cat, columns=['YearOfObservation', 'Residential', 'Building_Painted', 'Building_Fenced',
                'Settlement','Building_Type','NumberOfWindows'], drop_first=False) #'NumberOfWindows'
test_cat2.reset_index(drop=True, inplace=True)

In [85]:
#split into cts data
#train
scaler = preprocessing.MinMaxScaler()
to_scale_df = train[['Insured_Period']] #'Insured_Period'
train_scaled_df = scaler.fit_transform(to_scale_df)
train_scaled_df = pd.DataFrame(train_scaled_df, columns=['Insured_Period'])
train_scaled_df.reset_index(drop=True, inplace=True)

In [86]:
#test
scaler = preprocessing.MinMaxScaler()
to_scale_df = test[['Insured_Period']] #'Insured_Period'
test_scaled_df = scaler.fit_transform(to_scale_df)
test_scaled_df = pd.DataFrame(test_scaled_df, columns=['Insured_Period'])
test_scaled_df.reset_index(drop=True, inplace=True)

In [87]:
#combine
train_df = pd.concat([train_scaled_df, train_cat2,train['Claim']], axis=1)

In [88]:
#combine
test_df = pd.concat([test_scaled_df, test_cat2], axis=1)

In [89]:
train_df.tail()

,Insured_Period,YearOfObservation_2012,YearOfObservation_2013,YearOfObservation_2014,YearOfObservation_2015,YearOfObservation_2016,Residential_0,Residential_1,Building_Painted_N,Building_Painted_V,Building_Fenced_N,Building_Fenced_V,Settlement_R,Settlement_U,Building_Type_1,Building_Type_2,Building_Type_3,Building_Type_4,Claim
7155,1.000000,1,0,0,0,0,0,1,0,1,0,1,0,1,1,0,0,0,0
7156,1.000000,0,1,0,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1
7157,0.038251,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,0,0,0
7158,1.000000,0,1,0,0,0,1,0,0,1,0,1,0,1,1,0,0,0,0
7159,1.000000,0,0,1,0,0,1,0,0,1,0,1,0,1,1,0,0,0,0

In [90]:
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
#from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier

In [96]:
train_df.dtypes#head(100)

Insured_Period            float64
YearOfObservation_2012      uint8
YearOfObservation_2013      uint8
YearOfObservation_2014      uint8
YearOfObservation_2015      uint8
YearOfObservation_2016      uint8
Residential_0               uint8
Residential_1               uint8
Building_Painted_N          uint8
Building_Painted_V          uint8
Building_Fenced_N           uint8
Building_Fenced_V           uint8
Settlement_R                uint8
Settlement_U                uint8
Building_Type_1             uint8
Building_Type_2             uint8
Building_Type_3             uint8
Building_Type_4             uint8
Claim                       int64
dtype: object

In [97]:
#build model
features=train_df.iloc[:,0:18] #Make sure to remove Opioid.Prescriber (our target)!
target = train_df['Claim']
Name=[]
Accuracy=[]
model1=LogisticRegression(random_state=22,C=0.000000001,solver='liblinear',max_iter=200)
model2=GaussianNB()
model3=RandomForestClassifier(n_estimators=200,random_state=22)
model4=GradientBoostingClassifier(n_estimators=200)
model5=KNeighborsClassifier()
model6=DecisionTreeClassifier()
model7=LinearDiscriminantAnalysis()
model8=BaggingClassifier()
Ensembled_model=VotingClassifier(estimators=[('lr', model1), ('gn', model2), ('rf', model3),('gb',model4),('kn',model5),('dt',model6),('lda',model7), ('bc',model8)], voting='hard')
for model, label in zip([model1, model2, model3, model4,model5,model6,model7,model8,Ensembled_model], ['Logistic Regression','Naive Bayes','Random Forest', 'Gradient Boosting','KNN','Decision Tree','LDA', 'Bagging Classifier', 'Ensemble']):
    scores = cross_val_score(model, features, target, cv=5, scoring='accuracy')
    Accuracy.append(scores.mean())
    Name.append(model.__class__.__name__)
    print("Accuracy: %f of model %s" % (scores.mean(),label))

Accuracy: 0.771788 of model Logistic Regression
Accuracy: 0.715933 of model Naive Bayes
Accuracy: 0.752379 of model Random Forest
Accuracy: 0.768297 of model Gradient Boosting
Accuracy: 0.721796 of model KNN
Accuracy: 0.745674 of model Decision Tree
Accuracy: 0.771648 of model LDA
Accuracy: 0.751540 of model Bagging Classifier
Accuracy: 0.765227 of model Ensemble

In [ ]:
#submission

# Model 2

In [ ]:
#Perform EDA

In [ ]:
#Fix missing data

In [ ]:
#Data engineering

In [ ]:
#data modeling

In [ ]:
#submission