In [ ]:
#objective: Estimate whether a personâ€™s income exceeds $50K/year

In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [3]:
#load data
df1 = pd.read_csv('../datasets/adult.data.csv', sep=",", header=None)
df2 = pd.read_csv('../datasets/adult.test.csv', sep=",", header=None)
df1.columns = ['age','workclass','fnlweight','education','education_num','marital_status','occupation',
'relationship','race','sex','capital_gain',
'capital_loss','hours_week','native_country',
'class']
df2.columns = df_train.columns

In [4]:
df1_backup = df1
df2_backup = df2

,age,workclass,fnlweight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
print(df_train.shape, df_test.shape)

(32561, 15) (16281, 15)

In [7]:
frames = [df1, df2, df3]

(32561, 15) (16281, 15)