***Objective***

The objective of this competition is to create a machine learning model to predict which individuals are most likely to have or use a bank account. The models and solutions developed can provide an indication of the state of financial inclusion in Kenya, Rwanda, Tanzania and Uganda, while providing insights into some of the key demographic factors that might drive individualsâ€™ financial outcomes.

In [1]:
#load libraries
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder  
from sklearn.preprocessing import StandardScaler  
from scipy import sparse
from catboost import CatBoostClassifier, Pool
import lightgbm as lgb
import xgboost as xgb
from math import sqrt
from sklearn.metrics import mean_squared_error
from scipy.stats import uniform, randint
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import TimeSeriesSplit, cross_val_score, GridSearchCV, RandomizedSearchCV
import random

/Users/edima/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [14]:
#load data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample_submission = pd.read_csv("sample_submission.csv")
description_data = pd.read_csv("VariableDescription.csv")

In [5]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [6]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [7]:
sample_submission.head()

                uniqueid  bank_account
0  uniqueid_7867 x Kenya           1.0
1  uniqueid_6722 x Kenya           0.0
2  uniqueid_6714 x Kenya           1.0
3  uniqueid_8103 x Kenya           1.0
4  uniqueid_8657 x Kenya           1.0

In [8]:
description_data.head()

  Variable Definitions                                         Unnamed: 1
0              country                         Country interviewee is in.
1                 year                           Year survey was done in.
2             uniqueid             Unique identifier for each interviewee
3        location_type                     Type of location: Rural, Urban
4     cellphone_access  If interviewee has access to a cellphone: Yes, No

In [9]:
train.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [15]:
#uniqueid + " x " + country name
train['uniqueid'] = train['uniqueid'] + " x " + train['country']
test['uniqueid'] = test['uniqueid'] + " x " + test['country']

In [16]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1 x Kenya,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2 x Kenya,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3 x Kenya,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4 x Kenya,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5 x Kenya,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [ ]:
#non categorical = age_of_respondent

In [18]:
test_uniqueid = test['uniqueid']
test_uniqueid.reset_index(drop=True, inplace=True)

In [25]:
train = train[['country','year','bank_account','location_type','cellphone_access','household_size',
               'age_of_respondent','gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']]

In [26]:
test = test[['country','year','location_type','cellphone_access','household_size',
               'age_of_respondent','gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']]

In [27]:
train_categorical = ['country','year','location_type','cellphone_access','household_size',
               'gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']
test_categorical = ['country','year','location_type','cellphone_access','household_size',
               'gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']

In [42]:
train["bank_account"] = train["bank_account"].astype('category')
train["bank_account"] = train["bank_account"].cat.codes

In [43]:
train.head()

,country,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,1,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,0,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,1,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,0,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,0,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [44]:
#Catboost
#split training data set
X_train1 = train.drop(['bank_account'], axis=1)
y_train1 = train.bank_account

#split test dataset
X_test1 = test
#y_test1 = df_test_cat.YIELD

def column_index(df, query_cols):
    cols = df.columns.values
    sidx = np.argsort(cols)
    return sidx[np.searchsorted(cols, query_cols, sorter=sidx)]

categorical_features_indices = column_index(X_train1, train_categorical)
categorical_features_indices1 = column_index(X_test1, test_categorical)

In [46]:
from catboost import CatBoostClassifier
from sklearn import metrics
#import cb as catboost

def auc(m, train, test): 
    return (metrics.roc_auc_score(y_train,m.predict_proba(train)[:,1]),
                            metrics.roc_auc_score(y_test,m.predict_proba(test)[:,1]))

params = {'depth': [4, 7, 10],
          'learning_rate' : [0.03, 0.1, 0.15],
         'l2_leaf_reg': [1,4,9],
         'iterations': [300]}

cb = CatBoostClassifier()
cb_model = GridSearchCV(cb, params, scoring="roc_auc", cv = 3)
#cb_model.fit(X_train1, y_train1)

#Without Categorical features
#clf = cb.CatBoostClassifier(eval_metric="AUC", depth=10, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.15)
#clf.fit(X_train1,y_train1)
#auc(clf, train, test)

#With Categorical features
clf = CatBoostClassifier(eval_metric="AUC",one_hot_max_size=31, depth=10, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.15)
clf.fit(X_train1,y_train1, cat_features= categorical_features_indices)
auc(clf, X_train1, y_train1)

0:	total: 44.3ms	remaining: 22.1s
1:	total: 310ms	remaining: 1m 17s
2:	total: 625ms	remaining: 1m 43s
3:	total: 697ms	remaining: 1m 26s
4:	total: 736ms	remaining: 1m 12s
5:	total: 974ms	remaining: 1m 20s
6:	total: 1.18s	remaining: 1m 23s
7:	total: 1.41s	remaining: 1m 26s
8:	total: 1.62s	remaining: 1m 28s
9:	total: 1.68s	remaining: 1m 22s
10:	total: 1.8s	remaining: 1m 20s
11:	total: 1.97s	remaining: 1m 19s
12:	total: 2.19s	remaining: 1m 22s
13:	total: 2.33s	remaining: 1m 20s
14:	total: 2.38s	remaining: 1m 16s
15:	total: 2.46s	remaining: 1m 14s
16:	total: 2.5s	remaining: 1m 11s
17:	total: 2.57s	remaining: 1m 8s
18:	total: 2.72s	remaining: 1m 8s
19:	total: 2.79s	remaining: 1m 7s
20:	total: 2.83s	remaining: 1m 4s
21:	total: 2.88s	remaining: 1m 2s
22:	total: 2.92s	remaining: 1m
23:	total: 2.98s	remaining: 59.2s
24:	total: 3.02s	remaining: 57.4s
25:	total: 3.24s	remaining: 59.1s
26:	total: 3.28s	remaining: 57.5s
27:	total: 3.35s	remaining: 56.6s
28:	total: 3.39s	remaining: 55s
29:	total: 3.61s	remaining: 56.5s
30:	total: 3.65s	remaining: 55.2s
31:	total: 3.7s	remaining: 54.1s
32:	total: 3.77s	remaining: 53.4s
33:	total: 3.8s	remaining: 52.1s
34:	total: 3.88s	remaining: 51.5s
35:	total: 3.94s	remaining: 50.7s
36:	total: 4s	remaining: 50.1s
37:	total: 4.06s	remaining: 49.4s
38:	total: 4.12s	remaining: 48.7s
39:	total: 4.26s	remaining: 49s
40:	total: 4.4s	remaining: 49.2s
41:	total: 4.45s	remaining: 48.5s
42:	total: 4.53s	remaining: 48.1s
43:	total: 4.57s	remaining: 47.4s
44:	total: 4.81s	remaining: 48.6s
45:	total: 4.86s	remaining: 48s
46:	total: 4.93s	remaining: 47.5s
47:	total: 4.99s	remaining: 47s
48:	total: 5.06s	remaining: 46.6s
49:	total: 5.13s	remaining: 46.2s
50:	total: 5.22s	remaining: 46s
51:	total: 5.49s	remaining: 47.3s
52:	total: 5.54s	remaining: 46.7s
53:	total: 5.58s	remaining: 46s
54:	total: 5.65s	remaining: 45.7s
55:	total: 5.74s	remaining: 45.5s
56:	total: 5.8s	remaining: 45.1s
57:	total: 5.84s	remaining: 44.5s
58:	total: 5.9s	remaining: 44.1s
59:	total: 6.02s	remaining: 44.1s
60:	total: 6.07s	remaining: 43.7s
61:	total: 6.12s	remaining: 43.2s
62:	total: 6.15s	remaining: 42.7s
63:	total: 6.24s	remaining: 42.5s
64:	total: 6.28s	remaining: 42.1s
65:	total: 6.41s	remaining: 42.2s
66:	total: 6.48s	remaining: 41.9s
67:	total: 6.52s	remaining: 41.4s
68:	total: 6.58s	remaining: 41.1s
69:	total: 6.63s	remaining: 40.7s
70:	total: 6.67s	remaining: 40.3s
71:	total: 6.75s	remaining: 40.2s
72:	total: 6.85s	remaining: 40.1s
73:	total: 6.91s	remaining: 39.8s
74:	total: 7.15s	remaining: 40.5s
75:	total: 7.19s	remaining: 40.1s
76:	total: 7.23s	remaining: 39.7s
77:	total: 7.26s	remaining: 39.3s
78:	total: 7.29s	remaining: 38.9s
79:	total: 7.34s	remaining: 38.5s
80:	total: 7.6s	remaining: 39.3s
81:	total: 7.64s	remaining: 38.9s
82:	total: 7.89s	remaining: 39.7s
83:	total: 7.94s	remaining: 39.3s
84:	total: 8.08s	remaining: 39.5s
85:	total: 8.14s	remaining: 39.2s
86:	total: 8.17s	remaining: 38.8s
87:	total: 8.25s	remaining: 38.6s
88:	total: 8.54s	remaining: 39.4s
89:	total: 8.85s	remaining: 40.3s
90:	total: 8.88s	remaining: 39.9s
91:	total: 9.14s	remaining: 40.5s
92:	total: 9.21s	remaining: 40.3s
93:	total: 9.46s	remaining: 40.8s
94:	total: 9.6s	remaining: 40.9s
95:	total: 9.63s	remaining: 40.5s
96:	total: 9.89s	remaining: 41.1s
97:	total: 9.93s	remaining: 40.7s
98:	total: 10.2s	remaining: 41.2s
99:	total: 10.2s	remaining: 40.8s
100:	total: 10.4s	remaining: 41.2s
101:	total: 10.7s	remaining: 41.6s
102:	total: 10.9s	remaining: 42.1s
103:	total: 11s	remaining: 41.8s
104:	total: 11.1s	remaining: 41.8s
105:	total: 11.3s	remaining: 42.2s
106:	total: 11.5s	remaining: 42.2s
107:	total: 11.5s	remaining: 41.8s
108:	total: 11.8s	remaining: 42.2s
109:	total: 12s	remaining: 42.5s
110:	total: 12.1s	remaining: 42.5s
111:	total: 12.4s	remaining: 42.8s
112:	total: 12.4s	remaining: 42.5s
113:	total: 12.6s	remaining: 42.8s
114:	total: 12.7s	remaining: 42.4s
115:	total: 12.9s	remaining: 42.7s
116:	total: 13.2s	remaining: 43.1s
117:	total: 13.4s	remaining: 43.4s
118:	total: 13.5s	remaining: 43.1s
119:	total: 13.7s	remaining: 43.4s
120:	total: 13.7s	remaining: 43s
121:	total: 13.8s	remaining: 42.7s
122:	total: 14.1s	remaining: 43.2s
123:	total: 14.2s	remaining: 42.9s
124:	total: 14.3s	remaining: 42.8s
125:	total: 14.4s	remaining: 42.7s
126:	total: 14.6s	remaining: 42.7s
127:	total: 14.9s	remaining: 43.4s
128:	total: 15.3s	remaining: 44s
129:	total: 15.6s	remaining: 44.3s
130:	total: 15.9s	remaining: 44.9s
131:	total: 16s	remaining: 44.6s
132:	total: 16s	remaining: 44.2s
133:	total: 16.2s	remaining: 44.1s
134:	total: 16.2s	remaining: 43.8s
135:	total: 16.3s	remaining: 43.6s
136:	total: 16.3s	remaining: 43.2s
137:	total: 16.5s	remaining: 43.4s
138:	total: 16.6s	remaining: 43s
139:	total: 16.8s	remaining: 43.2s
140:	total: 17s	remaining: 43.3s
141:	total: 17.1s	remaining: 43s
142:	total: 17.3s	remaining: 43.1s
143:	total: 17.5s	remaining: 43.2s
144:	total: 17.7s	remaining: 43.3s
145:	total: 17.9s	remaining: 43.5s
146:	total: 18.1s	remaining: 43.6s
147:	total: 18.4s	remaining: 43.7s
148:	total: 18.6s	remaining: 43.7s
149:	total: 18.8s	remaining: 43.8s
150:	total: 18.8s	remaining: 43.4s
151:	total: 19s	remaining: 43.5s
152:	total: 19s	remaining: 43.2s
153:	total: 19.3s	remaining: 43.3s
154:	total: 19.5s	remaining: 43.4s
155:	total: 19.8s	remaining: 43.6s
156:	total: 20s	remaining: 43.8s
157:	total: 20.2s	remaining: 43.8s
158:	total: 20.4s	remaining: 43.8s
159:	total: 20.6s	remaining: 43.9s
160:	total: 20.9s	remaining: 43.9s
161:	total: 20.9s	remaining: 43.7s
162:	total: 21.2s	remaining: 43.7s
163:	total: 21.3s	remaining: 43.7s
164:	total: 21.5s	remaining: 43.7s
165:	total: 21.8s	remaining: 43.8s
166:	total: 22s	remaining: 43.8s
167:	total: 22s	remaining: 43.5s
168:	total: 22.1s	remaining: 43.2s
169:	total: 22.2s	remaining: 43.2s
170:	total: 22.3s	remaining: 42.9s
171:	total: 22.4s	remaining: 42.6s
172:	total: 22.4s	remaining: 42.4s
173:	total: 22.5s	remaining: 42.1s
174:	total: 22.5s	remaining: 41.8s
175:	total: 22.6s	remaining: 41.5s
176:	total: 22.8s	remaining: 41.5s
177:	total: 23s	remaining: 41.6s
178:	total: 23.2s	remaining: 41.6s
179:	total: 23.4s	remaining: 41.6s
180:	total: 23.5s	remaining: 41.3s
181:	total: 23.7s	remaining: 41.3s
182:	total: 23.9s	remaining: 41.3s
183:	total: 23.9s	remaining: 41s
184:	total: 23.9s	remaining: 40.7s
185:	total: 24s	remaining: 40.4s
186:	total: 24.1s	remaining: 40.4s
187:	total: 24.4s	remaining: 40.5s
188:	total: 24.6s	remaining: 40.4s
189:	total: 24.8s	remaining: 40.4s
190:	total: 25s	remaining: 40.4s
191:	total: 25.2s	remaining: 40.4s
192:	total: 25.4s	remaining: 40.4s
193:	total: 25.5s	remaining: 40.3s
194:	total: 25.7s	remaining: 40.3s
195:	total: 25.9s	remaining: 40.2s
196:	total: 26.1s	remaining: 40.2s
197:	total: 26.3s	remaining: 40.1s
198:	total: 26.5s	remaining: 40s
199:	total: 26.6s	remaining: 39.9s
200:	total: 26.8s	remaining: 39.9s
201:	total: 27s	remaining: 39.9s
202:	total: 27.3s	remaining: 39.9s
203:	total: 27.5s	remaining: 39.9s
204:	total: 27.7s	remaining: 39.8s
205:	total: 27.9s	remaining: 39.8s
206:	total: 28.1s	remaining: 39.7s
207:	total: 28.3s	remaining: 39.7s
208:	total: 28.5s	remaining: 39.7s
209:	total: 28.7s	remaining: 39.6s
210:	total: 28.8s	remaining: 39.4s
211:	total: 28.8s	remaining: 39.1s
212:	total: 29s	remaining: 39.1s
213:	total: 29.1s	remaining: 38.9s
214:	total: 29.3s	remaining: 38.9s
215:	total: 29.4s	remaining: 38.6s
216:	total: 29.6s	remaining: 38.6s
217:	total: 29.8s	remaining: 38.5s
218:	total: 30s	remaining: 38.5s
219:	total: 30.2s	remaining: 38.4s
220:	total: 30.3s	remaining: 38.3s
221:	total: 30.5s	remaining: 38.2s
222:	total: 30.7s	remaining: 38.1s
223:	total: 30.9s	remaining: 38.1s
224:	total: 31.1s	remaining: 38s
225:	total: 31.3s	remaining: 37.9s
226:	total: 31.5s	remaining: 37.9s
227:	total: 31.6s	remaining: 37.7s
228:	total: 31.8s	remaining: 37.6s
229:	total: 32s	remaining: 37.5s
230:	total: 32.2s	remaining: 37.5s
231:	total: 32.4s	remaining: 37.4s
232:	total: 32.5s	remaining: 37.2s
233:	total: 32.6s	remaining: 37s
234:	total: 32.7s	remaining: 36.8s
235:	total: 32.9s	remaining: 36.8s
236:	total: 33.1s	remaining: 36.7s
237:	total: 33.1s	remaining: 36.5s
238:	total: 33.3s	remaining: 36.4s
239:	total: 33.4s	remaining: 36.2s

240:	total: 33.6s	remaining: 36.1s
241:	total: 33.8s	remaining: 36.1s
242:	total: 34s	remaining: 36s
243:	total: 34.2s	remaining: 35.9s
244:	total: 34.4s	remaining: 35.8s
245:	total: 34.6s	remaining: 35.7s
246:	total: 34.8s	remaining: 35.7s
247:	total: 34.9s	remaining: 35.4s
248:	total: 35.1s	remaining: 35.3s
249:	total: 35.1s	remaining: 35.1s
250:	total: 35.3s	remaining: 35s
251:	total: 35.4s	remaining: 34.8s
252:	total: 35.6s	remaining: 34.7s
253:	total: 35.8s	remaining: 34.7s
254:	total: 36s	remaining: 34.6s
255:	total: 36.5s	remaining: 34.8s
256:	total: 36.8s	remaining: 34.8s
257:	total: 37s	remaining: 34.7s
258:	total: 37.2s	remaining: 34.6s
259:	total: 37.4s	remaining: 34.5s
260:	total: 37.6s	remaining: 34.5s
261:	total: 37.9s	remaining: 34.4s
262:	total: 38.1s	remaining: 34.3s
263:	total: 38.2s	remaining: 34.1s
264:	total: 38.4s	remaining: 34.1s
265:	total: 38.6s	remaining: 34s
266:	total: 38.8s	remaining: 33.8s
267:	total: 39s	remaining: 33.7s
268:	total: 39.2s	remaining: 33.6s
269:	total: 39.4s	remaining: 33.6s
270:	total: 39.6s	remaining: 33.5s
271:	total: 39.8s	remaining: 33.4s
272:	total: 39.9s	remaining: 33.2s
273:	total: 40s	remaining: 33s
274:	total: 40.2s	remaining: 32.9s
275:	total: 40.4s	remaining: 32.8s
276:	total: 40.5s	remaining: 32.6s
277:	total: 40.7s	remaining: 32.5s
278:	total: 40.8s	remaining: 32.3s
279:	total: 40.9s	remaining: 32.1s
280:	total: 41.3s	remaining: 32.2s
281:	total: 41.6s	remaining: 32.2s
282:	total: 41.6s	remaining: 31.9s
283:	total: 41.7s	remaining: 31.7s
284:	total: 41.9s	remaining: 31.6s
285:	total: 42.2s	remaining: 31.5s
286:	total: 42.4s	remaining: 31.4s
287:	total: 42.5s	remaining: 31.3s
288:	total: 42.8s	remaining: 31.2s
289:	total: 43s	remaining: 31.1s
290:	total: 43.2s	remaining: 31s
291:	total: 43.3s	remaining: 30.8s
292:	total: 43.4s	remaining: 30.7s
293:	total: 43.6s	remaining: 30.6s
294:	total: 43.8s	remaining: 30.5s
295:	total: 43.9s	remaining: 30.3s
296:	total: 44.1s	remaining: 30.1s
297:	total: 44.3s	remaining: 30.1s
298:	total: 44.5s	remaining: 29.9s
299:	total: 44.7s	remaining: 29.8s
300:	total: 45s	remaining: 29.7s
301:	total: 45.3s	remaining: 29.7s
302:	total: 45.5s	remaining: 29.6s
303:	total: 45.7s	remaining: 29.4s
304:	total: 45.9s	remaining: 29.3s
305:	total: 46.1s	remaining: 29.2s
306:	total: 46.3s	remaining: 29.1s
307:	total: 46.5s	remaining: 29s
308:	total: 46.7s	remaining: 28.8s
309:	total: 46.8s	remaining: 28.7s
310:	total: 46.9s	remaining: 28.5s
311:	total: 46.9s	remaining: 28.3s
312:	total: 47s	remaining: 28.1s
313:	total: 47.3s	remaining: 28s
314:	total: 47.5s	remaining: 27.9s
315:	total: 47.7s	remaining: 27.8s
316:	total: 47.8s	remaining: 27.6s
317:	total: 48s	remaining: 27.4s
318:	total: 48s	remaining: 27.2s
319:	total: 48.2s	remaining: 27.1s
320:	total: 48.4s	remaining: 27s
321:	total: 48.6s	remaining: 26.9s
322:	total: 48.8s	remaining: 26.8s
323:	total: 49s	remaining: 26.6s
324:	total: 49.1s	remaining: 26.5s
325:	total: 49.3s	remaining: 26.3s
326:	total: 49.5s	remaining: 26.2s
327:	total: 49.7s	remaining: 26.1s
328:	total: 49.9s	remaining: 26s
329:	total: 50.1s	remaining: 25.8s
330:	total: 50.3s	remaining: 25.7s
331:	total: 50.5s	remaining: 25.5s
332:	total: 50.5s	remaining: 25.3s
333:	total: 50.7s	remaining: 25.2s
334:	total: 50.9s	remaining: 25.1s
335:	total: 51.1s	remaining: 25s
336:	total: 51.3s	remaining: 24.8s
337:	total: 51.5s	remaining: 24.7s
338:	total: 51.7s	remaining: 24.5s
339:	total: 51.8s	remaining: 24.4s
340:	total: 52s	remaining: 24.3s
341:	total: 52.1s	remaining: 24.1s
342:	total: 52.2s	remaining: 23.9s
343:	total: 52.5s	remaining: 23.8s
344:	total: 52.7s	remaining: 23.7s
345:	total: 52.8s	remaining: 23.5s
346:	total: 53s	remaining: 23.4s
347:	total: 53.2s	remaining: 23.3s
348:	total: 53.5s	remaining: 23.1s
349:	total: 53.7s	remaining: 23s
350:	total: 53.9s	remaining: 22.9s
351:	total: 54.1s	remaining: 22.7s
352:	total: 54.2s	remaining: 22.6s
353:	total: 54.4s	remaining: 22.4s
354:	total: 54.6s	remaining: 22.3s
355:	total: 54.8s	remaining: 22.2s
356:	total: 55s	remaining: 22s
357:	total: 55.1s	remaining: 21.8s
358:	total: 55.3s	remaining: 21.7s
359:	total: 55.5s	remaining: 21.6s
360:	total: 55.5s	remaining: 21.4s
361:	total: 55.5s	remaining: 21.2s
362:	total: 55.7s	remaining: 21s
363:	total: 55.9s	remaining: 20.9s
364:	total: 56.1s	remaining: 20.8s
365:	total: 56.2s	remaining: 20.6s
366:	total: 56.4s	remaining: 20.4s
367:	total: 56.6s	remaining: 20.3s
368:	total: 56.9s	remaining: 20.2s
369:	total: 57.1s	remaining: 20.1s
370:	total: 57.2s	remaining: 19.9s
371:	total: 57.4s	remaining: 19.8s
372:	total: 57.6s	remaining: 19.6s
373:	total: 57.8s	remaining: 19.5s
374:	total: 58s	remaining: 19.3s
375:	total: 58.1s	remaining: 19.2s
376:	total: 58.3s	remaining: 19s
377:	total: 58.4s	remaining: 18.8s
378:	total: 58.6s	remaining: 18.7s
379:	total: 58.7s	remaining: 18.5s
380:	total: 58.9s	remaining: 18.4s
381:	total: 59.1s	remaining: 18.3s
382:	total: 59.3s	remaining: 18.1s
383:	total: 59.3s	remaining: 17.9s
384:	total: 59.4s	remaining: 17.8s
385:	total: 59.6s	remaining: 17.6s
386:	total: 59.8s	remaining: 17.5s
387:	total: 1m	remaining: 17.3s
388:	total: 1m	remaining: 17.2s
389:	total: 1m	remaining: 17.1s
390:	total: 1m	remaining: 16.9s
391:	total: 1m	remaining: 16.7s
392:	total: 1m	remaining: 16.5s
393:	total: 1m	remaining: 16.4s
394:	total: 1m 1s	remaining: 16.3s
395:	total: 1m 1s	remaining: 16.1s
396:	total: 1m 1s	remaining: 16s
397:	total: 1m 1s	remaining: 15.8s
398:	total: 1m 2s	remaining: 15.7s
399:	total: 1m 2s	remaining: 15.6s
400:	total: 1m 2s	remaining: 15.4s
401:	total: 1m 2s	remaining: 15.3s
402:	total: 1m 2s	remaining: 15.1s
403:	total: 1m 3s	remaining: 15s
404:	total: 1m 3s	remaining: 14.8s
405:	total: 1m 3s	remaining: 14.7s
406:	total: 1m 3s	remaining: 14.5s
407:	total: 1m 3s	remaining: 14.4s
408:	total: 1m 3s	remaining: 14.2s
409:	total: 1m 4s	remaining: 14.1s
410:	total: 1m 4s	remaining: 13.9s
411:	total: 1m 4s	remaining: 13.7s
412:	total: 1m 4s	remaining: 13.6s
413:	total: 1m 4s	remaining: 13.4s
414:	total: 1m 4s	remaining: 13.3s
415:	total: 1m 4s	remaining: 13.1s
416:	total: 1m 5s	remaining: 13s
417:	total: 1m 5s	remaining: 12.8s
418:	total: 1m 5s	remaining: 12.7s
419:	total: 1m 5s	remaining: 12.5s
420:	total: 1m 5s	remaining: 12.4s
421:	total: 1m 6s	remaining: 12.2s
422:	total: 1m 6s	remaining: 12.1s
423:	total: 1m 6s	remaining: 11.9s
424:	total: 1m 6s	remaining: 11.8s
425:	total: 1m 6s	remaining: 11.6s
426:	total: 1m 7s	remaining: 11.5s
427:	total: 1m 7s	remaining: 11.3s
428:	total: 1m 7s	remaining: 11.2s
429:	total: 1m 7s	remaining: 11s
430:	total: 1m 7s	remaining: 10.9s
431:	total: 1m 8s	remaining: 10.7s
432:	total: 1m 8s	remaining: 10.5s
433:	total: 1m 8s	remaining: 10.4s
434:	total: 1m 8s	remaining: 10.2s
435:	total: 1m 8s	remaining: 10.1s
436:	total: 1m 8s	remaining: 9.93s
437:	total: 1m 9s	remaining: 9.77s
438:	total: 1m 9s	remaining: 9.6s
439:	total: 1m 9s	remaining: 9.45s
440:	total: 1m 9s	remaining: 9.29s
441:	total: 1m 9s	remaining: 9.14s
442:	total: 1m 9s	remaining: 8.99s
443:	total: 1m 9s	remaining: 8.83s
444:	total: 1m 10s	remaining: 8.68s
445:	total: 1m 10s	remaining: 8.52s
446:	total: 1m 10s	remaining: 8.37s
447:	total: 1m 10s	remaining: 8.2s
448:	total: 1m 10s	remaining: 8.05s
449:	total: 1m 11s	remaining: 7.9s
450:	total: 1m 11s	remaining: 7.74s
451:	total: 1m 11s	remaining: 7.59s
452:	total: 1m 11s	remaining: 7.44s
453:	total: 1m 11s	remaining: 7.28s
454:	total: 1m 12s	remaining: 7.13s
455:	total: 1m 12s	remaining: 6.97s
456:	total: 1m 12s	remaining: 6.81s
457:	total: 1m 12s	remaining: 6.65s
458:	total: 1m 12s	remaining: 6.5s
459:	total: 1m 12s	remaining: 6.34s
460:	total: 1m 13s	remaining: 6.19s
461:	total: 1m 13s	remaining: 6.03s
462:	total: 1m 13s	remaining: 5.87s
463:	total: 1m 13s	remaining: 5.72s
464:	total: 1m 13s	remaining: 5.56s
465:	total: 1m 13s	remaining: 5.4s
466:	total: 1m 14s	remaining: 5.24s
467:	total: 1m 14s	remaining: 5.09s
468:	total: 1m 14s	remaining: 4.93s
469:	total: 1m 14s	remaining: 4.77s
470:	total: 1m 14s	remaining: 4.61s
471:	total: 1m 15s	remaining: 4.45s
472:	total: 1m 15s	remaining: 4.29s
473:	total: 1m 15s	remaining: 4.13s
474:	total: 1m 15s	remaining: 3.98s
475:	total: 1m 15s	remaining: 3.82s

476:	total: 1m 15s	remaining: 3.66s
477:	total: 1m 16s	remaining: 3.5s
478:	total: 1m 16s	remaining: 3.35s
479:	total: 1m 16s	remaining: 3.18s
480:	total: 1m 16s	remaining: 3.03s
481:	total: 1m 16s	remaining: 2.87s
482:	total: 1m 17s	remaining: 2.71s
483:	total: 1m 17s	remaining: 2.55s
484:	total: 1m 17s	remaining: 2.39s
485:	total: 1m 17s	remaining: 2.23s
486:	total: 1m 17s	remaining: 2.07s
487:	total: 1m 17s	remaining: 1.91s
488:	total: 1m 17s	remaining: 1.75s
489:	total: 1m 17s	remaining: 1.58s
490:	total: 1m 17s	remaining: 1.43s
491:	total: 1m 18s	remaining: 1.27s
492:	total: 1m 18s	remaining: 1.11s
493:	total: 1m 18s	remaining: 953ms
494:	total: 1m 18s	remaining: 792ms
495:	total: 1m 18s	remaining: 634ms
496:	total: 1m 18s	remaining: 474ms
497:	total: 1m 18s	remaining: 316ms
498:	total: 1m 18s	remaining: 158ms
499:	total: 1m 18s	remaining: 0us

NameError: name 'y_train' is not defined

In [ ]:
#light gbm
#split training data set
X_train2 = train.drop(['bank_account'], axis=1)
y_train2 = train.bank_account

#split test dataset
X_test2 = test

In [ ]:
import lightgbm as lgb
from sklearn import metrics

def auc2(m, train, test): 
    return (metrics.roc_auc_score(y_train,m.predict(train)),
                            metrics.roc_auc_score(y_test,m.predict(test)))

lg = lgb.LGBMClassifier(silent=False)
param_dist = {"max_depth": [25,50, 75],
              "learning_rate" : [0.01,0.05,0.1],
              "num_leaves": [300,900,1200],
              "n_estimators": [200]
             }
grid_search = GridSearchCV(lg, n_jobs=-1, param_grid=param_dist, cv = 3, scoring="roc_auc", verbose=5)
grid_search.fit(X_train2,y_train2)
grid_search.best_estimator_

d_train = lgb.Dataset(X_train2, label=y_train2)
params = {"max_depth": 50, "learning_rate" : 0.01, "num_leaves": 900,  "n_estimators": 300}

# Without Categorical Features
#model2 = lgb.train(params, d_train)
#auc2(model2, train, test)

#With Catgeorical Features
model2 = lgb.train(params, d_train, categorical_feature = train_categorical)
auc2(model2, train, test)