In [ ]:
#objective: Predict acceptibility of a car

In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [10]:
#load data
df = pd.read_table('../datasets/car.data', sep=",", header=None)
df.columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety','class']

In [11]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [12]:
#get shape
df.shape

(1728, 7)

In [13]:
#get descriptive statistics
df.describe()

       buying maint doors persons lug_boot safety  class
count    1728  1728  1728    1728     1728   1728   1728
unique      4     4     4       3        3      3      4
top       low   low     3    more      big    low  unacc
freq      432   432   432     576      576    576   1210

In [14]:
#recode class
cleanup_nums = {"class":{"unacc":1, "acc":2, "good":3, "v-good":4}}
#unacc: unacceptible, acc: acceptible, good: good,   v-good: very good
df.replace(cleanup_nums, inplace=True)

In [15]:
#one hot encode everything other than class
df_buying = pd.get_dummies(df.buying)
df_maint = pd.get_dummies(df.maint)
df_doors = pd.get_dummies(df.doors)
df_persons = pd.get_dummies(df.persons)
df_lugboot = pd.get_dummies(df.lug_boot)
df_safety = pd.get_dummies(df.safety)

In [ ]:
#combine data

In [ ]:
#split data into train and test

In [ ]:
#model data

In [ ]:
#use rf and others

In [ ]:
#perform on test data

In [ ]:
#perform confusion matrix