In [1]:
#load libraries
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [24]:
df = pd.read_csv('product.csv')

In [25]:
df.head()

,UTM_Source,UTM_Medium,Trans_ID,Loan_id,uuid,Opened_date,Closed_date,Product,"$43,484.00","$43,515.00",...,"$43,604.00","$43,635.00","$43,665.00","$43,696.00","$43,727.00","$43,757.00","$43,788.00","$43,818.00","$43,485.00",Total Revenue To date
0,NaN,NaN,NaN,26,704ddfea-ba01-4560-8aef-1550932d04d7,1/3/19,NaN,Prime 12,$8.95,$10.46,...,$7.73,$7.14,$(2.87),$5.42,$4.54,$4.01,$-,$9.16,NaN,$72.11
1,NaN,NaN,NaN,27,df007477-d209-445a-80e3-649cd1e301d0,1/8/19,NaN,Basic 12,$8.95,$5.25,...,$3.76,$7.46,$(6.96),$3.07,$2.10,$-,$4.91,$2.89,NaN,$39.89
2,NaN,NaN,NaN,28,3066d9e8-9575-4fac-88b9-aa0ce2cafc3e,1/10/19,3/26/19,Prime 12,$8.95,$15.19,...,$-,$-,$(8.95),NaN,NaN,NaN,NaN,NaN,NaN,$27.84
3,NaN,NaN,NaN,29,9ef9086b-d671-48f6-a490-9f98152c4ea5,1/11/19,NaN,Prime 24,$8.95,$11.86,...,$10.22,$10.12,$0.41,$9.21,$8.75,$9.62,$7.83,$7.11,NaN,$105.43
4,NaN,NaN,NaN,30,551f0be6-6264-4636-a864-2da25babe77d,1/14/19,2/12/19,Basic 24,$-,$-,...,$-,$-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$-

In [26]:
#reduce columns
df = df[['uuid','Opened_date','Product',' Total Revenue To date ']]

In [27]:
#rename columns
df.columns = ['uuid','Opened_date','Product','Revenue']

In [28]:
#change opened date
df['Opened_date'] = pd.to_datetime(df['Opened_date'])

In [29]:
#check for missing data
df.isnull().sum()

uuid           0
Opened_date    0
Product        0
Revenue        0
dtype: int64

In [36]:
df = df[df.Revenue != '$-']

In [37]:
df.head(10)

                                   uuid Opened_date     Product    Revenue
0  704ddfea-ba01-4560-8aef-1550932d04d7  2019-01-03    Prime 12    $72.11
1  df007477-d209-445a-80e3-649cd1e301d0  2019-01-08    Basic 12    $39.89
2  3066d9e8-9575-4fac-88b9-aa0ce2cafc3e  2019-01-10    Prime 12    $27.84
3  9ef9086b-d671-48f6-a490-9f98152c4ea5  2019-01-11    Prime 24   $105.43
4  551f0be6-6264-4636-a864-2da25babe77d  2019-01-14    Basic 24      $-
5  1e0e7531-0efe-4a11-bc48-aaa904ad0cad  2019-01-15    Basic 24    $37.18
6  80d77283-d0aa-41bf-9569-2f76649f3c37  2019-01-16    Basic 12    $17.25
7  b2e53e1a-3dfd-4f9b-9486-8ce369737bc0  2019-01-17    Prime 12    $59.46
8  045e3eb9-92b8-4196-af03-8a0805378d4d  2019-01-17    Basic 24    $37.37
9  32116c05-c512-4689-819c-8d6a75a71734  2019-01-17  Premier 24   $186.18

In [34]:
df['Revenue'] = df['Revenue'].replace({'\$': '', ',': ''}, regex=True).astype(float)

ValueError: could not convert string to float: ' -   '

In [22]:
df.head()

                                   uuid Opened_date   Product    Revenue
0  704ddfea-ba01-4560-8aef-1550932d04d7  2019-01-03  Prime 12    $72.11
1  df007477-d209-445a-80e3-649cd1e301d0  2019-01-08  Basic 12    $39.89
2  3066d9e8-9575-4fac-88b9-aa0ce2cafc3e  2019-01-10  Prime 12    $27.84
3  9ef9086b-d671-48f6-a490-9f98152c4ea5  2019-01-11  Prime 24   $105.43
4  551f0be6-6264-4636-a864-2da25babe77d  2019-01-14  Basic 24      $-

# RFM Model

In [ ]:
import datetime as dt
NOW = dt.datetime(2019,12,20)