In [1]:
#load libraries
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [49]:
df = pd.read_csv('product.csv')

In [50]:
df.head()

,UTM_Source,UTM_Medium,Trans_ID,Loan_id,uuid,Opened_date,Closed_date,Product,"$43,484.00","$43,515.00",...,"$43,604.00","$43,635.00","$43,665.00","$43,696.00","$43,727.00","$43,757.00","$43,788.00","$43,818.00","$43,485.00",TotalRevenueTodate
0,NaN,NaN,NaN,26,704ddfea-ba01-4560-8aef-1550932d04d7,1/3/19,NaN,Prime12,$8.95,$10.46,...,$7.73,$7.14,$2.87,$5.42,$4.54,$4.01,$0,$9.16,NaN,$72.11
1,NaN,NaN,NaN,27,df007477-d209-445a-80e3-649cd1e301d0,1/8/19,NaN,Basic12,$8.95,$5.25,...,$3.76,$7.46,$6.96,$3.07,$2.10,$0,$4.91,$2.89,NaN,$39.89
2,NaN,NaN,NaN,28,3066d9e8-9575-4fac-88b9-aa0ce2cafc3e,1/10/19,3/26/19,Prime12,$8.95,$15.19,...,$0,$0,$8.95,NaN,NaN,NaN,NaN,NaN,NaN,$27.84
3,NaN,NaN,NaN,29,9ef9086b-d671-48f6-a490-9f98152c4ea5,1/11/19,NaN,Prime24,$8.95,$11.86,...,$10.22,$10.12,$0.41,$9.21,$8.75,$9.62,$7.83,$7.11,NaN,$105.43
4,NaN,NaN,NaN,30,551f0be6-6264-4636-a864-2da25babe77d,1/14/19,2/12/19,Basic24,$0,$0,...,$0,$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$0

In [54]:
#reduce columns
df = df[['uuid','Opened_date','Product','TotalRevenueTodate']]

In [55]:
#rename columns
df.columns = ['uuid','Opened_date','Product','Revenue']

In [56]:
#change opened date
df['Opened_date'] = pd.to_datetime(df['Opened_date'])

In [57]:
#check for missing data
df.isnull().sum()

uuid           0
Opened_date    0
Product        0
Revenue        0
dtype: int64

In [46]:
df['Revenue'] = df['Revenue'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [59]:
df.head()

                                   uuid Opened_date  Product  Revenue
0  704ddfea-ba01-4560-8aef-1550932d04d7  2019-01-03  Prime12    72.11
1  df007477-d209-445a-80e3-649cd1e301d0  2019-01-08  Basic12    39.89
2  3066d9e8-9575-4fac-88b9-aa0ce2cafc3e  2019-01-10  Prime12    27.84
3  9ef9086b-d671-48f6-a490-9f98152c4ea5  2019-01-11  Prime24   105.43
4  551f0be6-6264-4636-a864-2da25babe77d  2019-01-14  Basic24     0.00

# RFM Model

In [ ]:
import datetime as dt
NOW = dt.datetime(2019,12,20)