In [1]:
#load libraries
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('product.csv')

In [3]:
df.head()

,UTM_Source,UTM_Medium,Trans_ID,Loan_id,uuid,Opened_date,Closed_date,Product,"$43,484.00","$43,515.00",...,"$43,604.00","$43,635.00","$43,665.00","$43,696.00","$43,727.00","$43,757.00","$43,788.00","$43,818.00","$43,485.00",Total Revenue To date
0,NaN,NaN,NaN,26,704ddfea-ba01-4560-8aef-1550932d04d7,1/3/19,NaN,Prime 12,$8.95,$10.46,...,$7.73,$7.14,$(2.87),$5.42,$4.54,$4.01,$-,$9.16,NaN,$72.11
1,NaN,NaN,NaN,27,df007477-d209-445a-80e3-649cd1e301d0,1/8/19,NaN,Basic 12,$8.95,$5.25,...,$3.76,$7.46,$(6.96),$3.07,$2.10,$-,$4.91,$2.89,NaN,$39.89
2,NaN,NaN,NaN,28,3066d9e8-9575-4fac-88b9-aa0ce2cafc3e,1/10/19,3/26/19,Prime 12,$8.95,$15.19,...,$-,$-,$(8.95),NaN,NaN,NaN,NaN,NaN,NaN,$27.84
3,NaN,NaN,NaN,29,9ef9086b-d671-48f6-a490-9f98152c4ea5,1/11/19,NaN,Prime 24,$8.95,$11.86,...,$10.22,$10.12,$0.41,$9.21,$8.75,$9.62,$7.83,$7.11,NaN,$105.43
4,NaN,NaN,NaN,30,551f0be6-6264-4636-a864-2da25babe77d,1/14/19,2/12/19,Basic 24,$-,$-,...,$-,$-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$-

In [9]:
for col in df.columns: 
    print(col)

UTM_Source
UTM_Medium
Trans_ID
Loan_id
uuid
Opened_date
Closed_date
Product
 $43,484.00
 $43,515.00
 $43,543.00
 $43,574.00
 $43,604.00
 $43,635.00
 $43,665.00
 $43,696.00
 $43,727.00
 $43,757.00
 $43,788.00
 $43,818.00
 $43,485.00
 Total Revenue To date

In [10]:
#reduce columns
df = df[['uuid','Opened_date','Product',' Total Revenue To date ']]

In [ ]:
#rename columns
df.columns =