In [1]:
#Import libraries
from io import StringIO
import requests
import json
import pandas as pd

In [2]:
df_opioids = pd.read_csv('opioids.csv', sep=",")

In [3]:
df_opioids.head()

                        Drug Name                    Generic Name
0                         ABSTRAL                FENTANYL CITRATE
1           ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                           ACTIQ                FENTANYL CITRATE
3             ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4  ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN

In [6]:
#load overdose data
df_overdose = pd.read_csv('overdoses.csv', sep=",")

In [7]:
df_overdose.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [8]:
#load prescriber info
df_prescriber = pd.read_csv('prescriber-info.csv', sep=",")

In [9]:
df_prescriber.head()

,NPI,Gender,State,Credentials,Specialty,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
0,1710982582,M,TX,DDS,Dentist,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1245278100,F,AL,MD,General Surgery,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,1
2,1427182161,F,NY,M.D.,General Practice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
3,1669567541,M,AZ,MD,Internal Medicine,0,43,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1679650949,M,NV,M.D.,Hematology/Oncology,0,0,0,0,0,...,0,0,0,0,17,28,0,0,0,1

In [11]:

# Let's start out by removing the ',' from our numbers in the Deaths and Population columns so that we can use them as integers
df_overdose['Deaths'] = df_overdose['Deaths'].str.replace(',', '')
df_overdose['Deaths'] = df_overdose['Deaths'].astype(int)

In [12]:
df_overdose['Population'] = df_overdose['Population'].str.replace(',', '')
df_overdose['Population'] = df_overdose['Population'].astype(int)

In [14]:
#Adding an additional column where we see the deaths per capita per each state
df_overdose['Deaths/Population'] = (df_overdose['Deaths']/df_overdose['Population'])