In [ ]:
#objective: Group similar travel reviews

In [1]:
import matplotlib.pyplot as plt  
%matplotlib inline
import sklearn
import seaborn as sns
from sklearn import preprocessing
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../datasets/tripadvisor_review.csv', sep=",")

In [4]:
df.head()

,User ID,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,Category 10
0,User 1,0.93,1.8,2.29,0.62,0.80,2.42,3.19,2.79,1.82,2.42
1,User 2,1.02,2.2,2.66,0.64,1.42,3.18,3.21,2.63,1.86,2.32
2,User 3,1.22,0.8,0.54,0.53,0.24,1.54,3.18,2.80,1.31,2.50
3,User 4,0.45,1.8,0.29,0.57,0.46,1.52,3.18,2.96,1.57,2.86
4,User 5,0.51,1.2,1.18,0.57,1.54,2.02,3.18,2.78,1.18,2.54

In [6]:
#drop user id
df = df.drop('User ID', axis=1)