In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_excel("Online Retail.xlsx")
df.head()
df1 = df

In [3]:
#check country
customer_country=df1[['Country','CustomerID']].drop_duplicates()
customer_country.groupby(['Country'])['CustomerID'].aggregate('count').reset_index().sort_values('CustomerID', ascending=False)

                 Country  CustomerID
36        United Kingdom        3950
14               Germany          95
13                France          87
31                 Spain          31
3                Belgium          25
33           Switzerland          21
27              Portugal          19
19                 Italy          15
12               Finland          12
1                Austria          11
25                Norway          10
24           Netherlands           9
0              Australia           9
6        Channel Islands           9
9                Denmark           9
7                 Cyprus           8
32                Sweden           8
20                 Japan           8
26                Poland           6
34                   USA           4
5                 Canada           4
37           Unspecified           4
18                Israel           4
15                Greece           4
10                  EIRE           3
23                 Malta           2
35  United Arab Emirates           2
2                Bahrain           2
22             Lithuania           1
8         Czech Republic           1
21               Lebanon           1
28                   RSA           1
29          Saudi Arabia           1
30             Singapore           1
17               Iceland           1
4                 Brazil           1
11    European Community           1
16             Hong Kong           0

In [4]:
#restrict to UK
df1 = df1.loc[df1['Country'] == 'United Kingdom']

In [5]:
#check for missing
df1.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133600
Country             0
dtype: int64

In [6]:
#remove missing data
df1 = df1[pd.notnull(df1['CustomerID'])]

In [7]:
df1 = df1[pd.notnull(df1['CustomerID'])]

In [8]:
df1.Quantity.min()

-80995

In [9]:
#remove negative values
df1 = df1[(df1['Quantity']>0)]
df1.shape
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354345 entries, 0 to 541893
Data columns (total 8 columns):
InvoiceNo      354345 non-null object
StockCode      354345 non-null object
Description    354345 non-null object
Quantity       354345 non-null int64
InvoiceDate    354345 non-null datetime64[ns]
UnitPrice      354345 non-null float64
CustomerID     354345 non-null float64
Country        354345 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.3+ MB

In [10]:
#check unique values
def unique_counts(df1):
   for i in df1.columns:
       count = df1[i].nunique()
       print(i, ": ", count)
unique_counts(df1)

(u'InvoiceNo', ': ', 16649)
(u'StockCode', ': ', 3645)
(u'Description', ': ', 3844)
(u'Quantity', ': ', 294)
(u'InvoiceDate', ': ', 15615)
(u'UnitPrice', ': ', 403)
(u'CustomerID', ': ', 3921)
(u'Country', ': ', 1)

In [11]:
#add a column for total price
df1['TotalPrice'] = df1['Quantity'] * df1['UnitPrice']

In [12]:
#find min and max date
df1['InvoiceDate'].min()
df1['InvoiceDate'].max()

Timestamp('2011-12-09 12:49:00')

In [13]:
import datetime as dt
NOW = dt.datetime(2011,12,10)
df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'])

In [ ]:
#rfm