In [ ]:
#objective: Detect Occupancy through Light, Temperature, Humidity and CO2 sensors

In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, f1_score, confusion_matrix, recall_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [5]:
df1 = pd.read_csv('../datasets/datatraining.csv', sep=",")
df2 = pd.read_csv('../datasets/datatest2.csv', sep=",")
#df1.columns = ['date','temp','humidity','light','co2','humidity_ratio','class']
#df2.columns = df1.columns

In [6]:
df1.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,2/4/2015 17:51,23.18,27.2720,426.0,721.25,0.004793,1
1,2/4/2015 17:51,23.15,27.2675,429.5,714.00,0.004783,1
2,2/4/2015 17:53,23.15,27.2450,426.0,713.50,0.004779,1
3,2/4/2015 17:54,23.15,27.2000,426.0,708.25,0.004772,1
4,2/4/2015 17:55,23.10,27.2000,426.0,704.50,0.004757,1

In [38]:
from datetime import datetime

minute = lambda x: datetime.strptime(x, "%m/%d/%Y %H:%M").minute
hour = lambda x: datetime.strptime(x, "%m/%d/%Y %H:%M").hour

In [39]:
df1['minute'] = df1['date'].map(minute)
df1['hour'] = df1['date'].map(hour)

In [40]:
df2['minute'] = df2['date'].map(minute)
df2['hour'] = df2['date'].map(hour)

0       2/4/2015 17:51
1       2/4/2015 17:51
2       2/4/2015 17:53
3       2/4/2015 17:54
4       2/4/2015 17:55
5       2/4/2015 17:55
6       2/4/2015 17:57
7       2/4/2015 17:57
8       2/4/2015 17:58
9       2/4/2015 18:00
10      2/4/2015 18:01
11      2/4/2015 18:02
12      2/4/2015 18:03
13      2/4/2015 18:04
14      2/4/2015 18:04
15      2/4/2015 18:06
16      2/4/2015 18:07
17      2/4/2015 18:08
18      2/4/2015 18:08
19      2/4/2015 18:10
20      2/4/2015 18:10
21      2/4/2015 18:11
22      2/4/2015 18:13
23      2/4/2015 18:14
24      2/4/2015 18:15
25      2/4/2015 18:16
26      2/4/2015 18:16
27      2/4/2015 18:17
28      2/4/2015 18:19
29      2/4/2015 18:20
             ...
8113    2/10/2015 9:04
8114    2/10/2015 9:04
8115    2/10/2015 9:06
8116    2/10/2015 9:07
8117    2/10/2015 9:08
8118    2/10/2015 9:08
8119    2/10/2015 9:10
8120    2/10/2015 9:10
8121    2/10/2015 9:11
8122    2/10/2015 9:13
8123    2/10/2015 9:14
8124    2/10/2015 9:15
8125    2/10/2015 9:16
8126    2/10/2015 9:16
8127    2/10/2015 9:17
8128    2/10/2015 9:19
8129    2/10/2015 9:20
8130    2/10/2015 9:21
8131    2/10/2015 9:22
8132    2/10/2015 9:23
8133    2/10/2015 9:23
8134    2/10/2015 9:24
8135    2/10/2015 9:26
8136    2/10/2015 9:27
8137    2/10/2015 9:28
8138    2/10/2015 9:29
8139    2/10/2015 9:29
8140    2/10/2015 9:30
8141    2/10/2015 9:32
8142    2/10/2015 9:33
Name: date, Length: 8143, dtype: object